* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", "Manropelight", sans-serif;
  /* background-color: #ececff; */
  background-color: #f8f8f8 !important; /* f7f4ee; */
  height: 100%;
}
