.icon-block {
  position: absolute;
  cursor: pointer;
  z-index: 12;
}

.icon {
  width: 30px;
}

.dot {
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: red;
}

.dot-active {
  width: 40px;
  height: 20px;
  background: #3d7ab2bf;
  border: 3px solid #5bc21e;
  box-shadow: 0px 0px 10px 2px #1a1a1a;
  // opacity: 0.8;
}
