.root {
  position: relative;
}

.tooltip {
  position: absolute;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  width: max-content;
  z-index: 1000;
}

// Themes
.tooltip.default {
  color: #333;
  background: var(--tooltip-bg-color);
  padding: 4px 8px;
}

.tooltip.dark-opacity {
  font: var(--font-s);
  background: var(--tooltip-bg-color-dark-opacity);
  padding: 0px 12px;
  opacity: 0.8;
}

// 

.title.default {
  color: var(--primary-color);
  margin: 4px 0;
}

.text.default {
  color: var(--secondary-color);
  margin: 4px 0;
}

.title.dark-opacity {
  color: var(--tooltip-color-dark-opacity);
}

.text.dark-opacity {
  color: var(--tooltip-color-dark-opacity);
}

//

.children {
  display: flex;
  align-items: center;
}
