.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  border-radius: 4px;
  padding: 0 8px;
}

.default {
  --color: #172638;
  color: var(--color);
  background: var(--bg-color-default);
  border: 1px solid var(--color);
  box-shadow: inset 0px 0px 5px 1px #466992;
}

.empty {
  --color: #726954;
  color: var(--color);
  background: #b1a285;
  border: 1px solid var(--color);
}

.money {
  color: #513500;
  background: #f4e0a2;
  border: 1px solid #72551c;
  box-shadow: inset 0px 0px 5px 1px #b0883d;
}
