.root {
  display: flex;
  align-items: center;
  height: 22px;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 0 8px;
}

.default {
  background: var(--bg-color-default);
  border: 1px solid var(--primary-color);
}
