.root {
  position: relative;
  // background: url('../../shared/assets/maps/map-1200px.webp');
  // background-size: contain;
  // background-position: top center;
  // background-repeat: no-repeat;
  width: var(--main-map-width);
}

.main-map {
  width: var(--main-map-width);
}
