:root {
  --primary-color             : #433b23;
  --secondary-color           : #314344;
  // --cancel-color              : #3e3a2d;

  --bg-primary-color          : #ecdeb1;
  --bg-secondary-color        : #c4b4a3;
  // --bg-cancel-color           : #9b9584;
  --inverted-bg-color         : #394f5b;

  --error-color-light         : red;
  --error-color-dark          : #ac0606;

  --inverted-primary-color    : #b6c9d8;
  --inverted-secondary-color  : #c0bfc7;

  --red-color                 : red;

  // Navbar
  --navbar-bg-color           : #213441;

  // Skeleton
  --skeleton-shadow           : rgb(220, 220, 220);
  --skeleton-color            : #c7c7c7;

  // Tooltip
  // Theme default
  --tooltip-bg-color              : #baaa98;

  // Theme dark-opacity
  --tooltip-color-dark-opacity    : #e0d7b6;
  --tooltip-bg-color-dark-opacity : #181818;


  // Value
  --bg-color-default          : #899fa8;

  // Card
  // --card-bg-color-hover      : #827665;
  --card-title-color          : #d1c5ac;
  --card-header-shadow        : #351d14;
  --card-content-shadow       : #574a37;
  --card-values-border-color  : #6e614e;
  --card-values-bg-color      : rgba(155, 141, 121, 0.6);

  --trade-module-price-row-bg-color : rgba(43, 24, 3, 0.8);
  --trade-module-total-color        :  #f4e0a2;
}
