.root {
  display: flex;
  box-shadow: 0px 0px 3px 3px #252525;
  background-color: #e7e0b5;
  margin-top: 24px;
  padding: 0 1px;
  border-radius: 2px;
}

.icon-root {
  padding: 1px;
}

.icon-icon {
  width: 20px;
  height: 20px;
}
