.root {
  margin-bottom: 8px;
  padding: 4px;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: text-shadow 0.3s;

  &:hover {
    text-shadow: 0px 0px 1px #777;
  }
}

.input {
  margin-right: 4px;
}
