.root {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

  &:hover {
    background-color: rgb(15, 191, 26);
  }
}

.opacity {
  opacity: 0.7;
}

.land {
  background-color: rgb(5, 85, 10);
}

.sea {
  background-color: rgb(39, 30, 76);
}

.shallow-water {
  background-color: rgb(39, 96, 131);
}
