.root {
  position: absolute;
  z-index: 100;

  padding: 10px 20px;

  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);

  width: 450px;
  height: 200px;
}

.pre {
  position: relative;
  text-align: left;
  margin-top: 8px;
}

.copyBtn {
  position: absolute;
  top: 16px;
  right: 0px;
  padding: 4px;
} 

.copy-icon {
  stroke: var(--primary-color);
  fill: none;
}
